@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');

* {
  box-sizing: border-box;
}


body{
  height: 100vh;
  margin: 0;
  font-family: 'Asap', sans-serif;
  background-image: linear-gradient(
    to bottom, #66ff66 -15%, #000000 90%); 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


