@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');

* {
  box-sizing: border-box;
}


body{
  height: 100vh;
  margin: 0;
  font-family: 'Asap', sans-serif;
  background-image: linear-gradient(
    0deg,
    rgb(0, 0, 0) 10%, 
    rgb(78, 255, 78) 50%
    ); 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.music-container{
  background-color: rgb(78, 255, 78);
  border-radius: 25px;
  border: rgb(0, 0, 0 );
  box-shadow: -15px 15px 25px 0 rgb(0, 0, 0 );
  display: flex;
  padding: 30px 20px;
  position: relative;
  margin: 250px;
  z-index: auto;
}

.img-container{
  position: relative;
  width: 115px;
}

.img-container img{
  width: inherit;
  height: 110px;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
  bottom 0;
  left: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.action-btn {
  background-color: rgb(78, 255, 78);
  border: 0;
  color: rgb(43, 109, 43);
  font-size: 25px;
  cursor: pointer;
  padding: 30px;
  margin: 0 20px;
}

.action-btn-big{
  color: rgb(21, 65, 21);
  font-size: 35px;
}

.action-btn:focus {
  outline: 0;
}


.song-info {
  background-color: rgb(78, 255, 78);
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0;
  left: 50px;
  width: calc(100% - 30 px);
  padding: 10px 10px 10px 100px;
  /* opacity: 0; */
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .song-info {
  opacity: 1;
  transform: translateY(-100%);
}

.song-info h3{
  margin: 10;
}

.progress-container{
  background: maroon;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 0;
  height: 7px;
  width: 320%;
}

.progress {
  background-color: rgb(black);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

